@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans.ttf"); 
}

html {
	/*height: 100%;*/
}

body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
.row {
	width: 100% !important;
	margin: 0;
}
#body-wrap {
	padding: 0 !important;
}

a:hover {
	text-decoration: none;
}

.no-padding {
	padding: 0;
}

#header {
	background-color: #666666 !important;
	border-bottom: 3px solid #CC0000;
	padding: 0;
}
#header .row {
	padding: 0 10px 0 70px !important;
}
#header-left {
	position: relative;
	height: 65px;
	padding: 0 !important;
}
#header-left #header-logo {
	position: absolute;
	z-index: 1;
	top: 12px;
	left: 15px;
}
#header-left div {
	height: auto;
	padding: 0;
}
#header-left div button {
	display: none;
	margin: 0;
}
#header-left ul {
	
	margin: 36px 0 0 65px;
	width: 100%;
	list-style: none !important;
}
#header-left ul li {
	list-style-type: none !important;
	display: inline-block;
	margin: 0px 3px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	padding: 3px 15px 3px 15px;
}
#header-left ul #search, #header-left ul #sign-up, #header-left ul #login,  #header-left ul hr {
	display: none;
}
#header-left ul li a {
	color: #fff;
}
#header-left ul a:hover li {
	color: #ccc;
}
#header-left ul li:before {
	display: none;
}
#header-left ul a:hover li.active {
	color: #fff;
}
#header-left ul li.active {
	background-color: #CC0000;
}
#header-right {
	padding: 8px 0 !important;
	text-align: right;
	font-size: 11px;
	text-transform: uppercase;;
}
#header-right .row {
	padding: 0;
	margin: 0;
}
#header-right a {
	color: #ccc;
	margin: 0 5px;
}
#header-right a:hover {
	color: #ffffff;
}
#header #search i {
	position: absolute;
    margin-top: 13px;
    margin-left: 7px;
    font-size: 1.2em;
}
#header-right i {
	position: absolute;
    top: 36px;
    right: 155px;
    font-size: 1.2em;	
}
#header #search input {
	padding-left: 25px !important;
}
#header #search input:focus {
	box-shadow: 0px 0px 2px #ccc;
	outline: 0;
}
#header-right input {
	display: inline-block;
	margin: 0 5px;
	padding-left: 25px;
	background-color: transparent;
	border: 2px solid #ccc;
	color: #fff;
}
#header-right input:focus {
	box-shadow: 0px 0px 2px #ccc;
	outline: 0;
}

#body-wrap {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

@media only screen and (min-width : 320px) {
	#wrap #content {
		margin-bottom: 190px;
	}
}

@media only screen and (min-width : 1024px) {
	#wrap #content {
		margin-bottom: 40px;
	}
}

#scheduleModal  .modal-dialog {
	width: 65% !important;
	padding: 50px;
	margin-top: 20px;
}
#scheduleModal  .modal-dialog .modal-content {
	box-shadow: none;
	border: 0;
	background-color: #fff;
	padding: 10px 25px;
	font-family: 'Open Sans', sans-serif;
}
#scheduleModal  .modal-dialog .modal-content .modal-header {
	border: 0;
	padding: 15px 0;
	position: relative;
}
#scheduleModal  .modal-dialog .modal-content .modal-header .row {
	margin: 0 !important;
	padding: 0;
}
#scheduleModal  .modal-dialog .modal-content .modal-header .right {
	text-align: right;
	padding-top: 10px;
}
#scheduleModal  .modal-dialog .modal-content .modal-header .modal-title {
	font-weight: bold;
	color: #000;
	font-size: 23px;
	margin: 0;
	padding: 0;
	display: inline-block;
}
#artistModal  .modal-dialog .modal-content .modal-header .modal-title {
	font-weight: bold;
	color: #000;
	font-size: 23px;
	margin: 0;
	padding: 0;
	display: inline-block;
}
#scheduleModal  .modal-dialog .modal-content .modal-header .sched-tabs {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
#scheduleModal  .modal-dialog .modal-content .modal-header .divider {
	margin: 0 10px;
}
#scheduleModal  .modal-dialog .modal-content .modal-header .active {
	color: #cc0000;
}
#scheduleModal  .modal-dialog .modal-content .modal-header .right #close {
	position: absolute;
	right: -10px;
	top: -10px;
}
#scheduleModal  .modal-dialog .modal-content .modal-body {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0;
}
#scheduleModal  .modal-dialog .modal-content .modal-body .tab-content .tab-pane {
	padding: 0;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 0;
}
@media screen and (min-width: 1280px) and (min-height: 1024px) {
	#scheduleModal  .modal-dialog .modal-content .modal-body .tab-content .tab-pane {
		height: 505px !important;
	}
}
@media screen and (min-width: 1920px) and (min-height: 1200px) {
	#scheduleModal  .modal-dialog .modal-content .modal-body .tab-content .tab-pane {
		height: 755px !important;
	}
}
@media screen and (min-width: 2660px) and (min-height: 1600px) {
	#scheduleModal  .modal-dialog .modal-content .modal-body .tab-content .tab-pane {
		height: 1155px !important;
	}
}

#scheduleModal  .modal-dialog .modal-content .modal-body ul li {
	margin: 0 !important;
	width: 14.28%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0 !important;
	opacity: 0.4;
}
#scheduleModal  .modal-dialog .modal-content .modal-body ul li a {
	margin: 0;
	border: 0;
	border-radius: 0;
	color: #000 !important;
}
#scheduleModal  .modal-dialog .modal-content .modal-body ul li:hover { 
	background-color: #ccc;
}
#scheduleModal  .modal-dialog .modal-content .modal-body ul li.active {
	opacity: 1 !important;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#scheduleModal  .modal-dialog .modal-content .modal-body ul li.active a {
	border: 0 !important;
	box-shadow: none;
	font-weight: bold !important;
}
#scheduleModal  .modal-dialog .modal-content .modal-body ul a:hover li {
	border: 0;
	box-shadow: none;
}
#scheduleModal  .modal-dialog .modal-content .modal-body ul li:hover a {
	border: 0;
	box-shadow: none;
}
#scheduleModal  .modal-dialog .modal-content .modal-body ul li:before {
	display: none;
}
#scheduleModal  .modal-dialog .modal-content .modal-body ul li a p {
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
}
#scheduleModal  .modal-dialog .modal-content .modal-body ul li a p.sched-day {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
#scheduleModal  .modal-dialog .modal-content .modal-body ul li a p.sched-date {
	font-size: 11px;
	margin-top: -5px !important;
}
#scheduleModal  .modal-dialog .modal-content .modal-body .row {
	border-top: 1px solid #ddd;
	padding: 12px 30px 12px 35px;
	background-color: #fff;
	margin: 0 !important;
	cursor: pointer;
}
#scheduleModal  .modal-dialog .modal-content .modal-body .row:hover {
	background-color: #ccc;
}
#scheduleModal  .modal-dialog .modal-content .modal-body .tab-content .tab-pane .active {
	background-color: #cc0000;
}
#scheduleModal  .modal-dialog .modal-content .modal-body .tab-content .tab-pane .active h4, #scheduleModal  .modal-dialog .modal-content .modal-body .tab-content .tab-pane .active p {
	color: #fff !important;
	font-weight: normal !important;
}
#scheduleModal  .modal-dialog .modal-content .modal-body .tab-content .tab-pane .now-showing {
	color: #CC0000;
	font-weight: bold;
	text-transform: uppercase;
	font-weight: 14px;
	padding: 10px 30px;
}
#scheduleModal .modal-dialog .modal-content .modal-body .row div {
	padding: 5px 0;
}
#scheduleModal .modal-dialog .modal-content .modal-body div.schedule-thumbnails {
	padding: 5px 10px 5px 0 !important ;
}	
#scheduleModal  .modal-dialog .modal-content .modal-body .row h4 {
	font-size: 17px;
	font-weight: bold;
	color: #333 !important;
	margin: 0 0 5px 0;
}
#scheduleModal  .modal-dialog .modal-content .modal-body .row p {
	color: #707070 !important;
	line-height: 16px;
	margin: 0;
}
.modal-backdrop {
	z-index: 0;
}
#top-carousel {
	background-color: #fff !important;
	width: 90%;
	margin: 0 auto;
}
#top-carousel .is-carousel {
	height: 100px;
}
#top-carousel .video-item {
	height: 100px !important;
	opacity: 0.8;
}
#top-carousel .video-item .item-head h3 {
	font-size: 30px;

}
#top-carousel .carousel-button a {
	border: 0 !important;
}
#top-carousel .carousel-button a.bgcolor1hover:hover {
	background-color: #fff;
	color: #CC0000;
}
.item-thumbnail .text-overlay {
	z-index: 1;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px #000;
}
.wattpad {
	background-color: #ff9900;
}
.wattpad #content {
	background-color: #fff;
	padding: 0px 40px;
	margin-top: 0;
	margin-bottom: 0;
}
.wattpad .smart-box-head {
	border-bottom: 3px solid #FFAD5C;
}
.wattpad .smart-box-head .title, .wattpad .smart-box-head .title .title-link {
	color: #FFAD5C;	
}
#wattpad-presents {
	padding: 0 0 20px 0;
	text-align: center;
}
.wattpad-slider .smart-box-content {
	margin-bottom: 50px;
}
.wattpad-slider .item-meta {
	float: left !important;
	color: #000;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 0;
}
#wattpad-inner {
	background-color: #cc3366;
}
#wattpad-inner .wattpad-cast-con .wattpad-cast {
	margin-bottom: 50px;
}
#wattpad-inner .wattpad-cast-con .wattpad-cast .cast-img {
	height: 227px;
	overflow: hidden;
}
#wattpad-inner .wattpad-cast-con .wattpad-cast .cast-img img {
	width: 95%;
	height: auto;
}
#wattpad-inner .wattpad-cast-con .wattpad-cast .cast-name {
	width: 95%;
	border: 1px solid #f2f2f2;
	text-align: center;
	padding: 15px;
}
#wattpad-inner .wattpad-cast-con .wattpad-cast .cast-name h5 {
	font-weight: bold;
	margin: 0;
}
#wattpad-inner .wattpad-cast-con .wattpad-cast .cast-name h6 {
	margin: 0;
}
#wattpad-inner .ad-leaderboard {
	margin: 60px 20px !important;
}
#bottom-nav {
	background-color: #fff;
	border: 0;
	padding: 0;
	margin: 0;
	color: #fff;
	position: absolute;
	bottom: auto;
	width: 100%;
}
#footer-top {
	background-color: #990100;
	margin: 0;
	font-size: 11px;
	padding: 2px 20px;
	position: relative;
}
#footer-top ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer-top ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 10px;
	color: #fff;
}
#footer-top ul li:before {
	display: none;
}
#footer-top ul a:hover li {
	opacity: 0.5;
}
#footer-top #mobile-footer {
	display: none;
}
#footer-top #footer-imgs {
	position: absolute;
	top: 1px;
	right: 45px;
}
#footer-top #footer-imgs img {
	margin-left: 3px;
}
#footer-bottom {
	background-color: #333333;
	font-size: 9px;
	margin: 0;
	padding: 0 40px;
}
@media screen and (max-width: 1024px) {
	#header {
		height: 52px;
		padding: 0 10px;
	}
	#header .row {
		margin: 0 !important;
		padding: 0 !important;
	}
	#header-left, #header-right {
		padding: 0;
		margin: 0;
		height: auto;
	}
	#header-left #header-logo {
		position: absolute;
		top: 0;
		bottom: auto;
		left: 0;
		right: auto;
		height: 60px;
		margin: 5px auto;
		display: block;
	}
	#header-left div button {
		display: block;
		position: absolute;
		top: 8px;
		right: 5px;
		margin: 0 2px;
	}
	#header-left div:hover button  {
		color: #cc0000;
	}
	#header-left ul #search, #header-left ul #sign-up, #header-left ul #login,  #header-left ul hr { 
		display: block;
	}
	#header-left ul #search {
		margin: 0;
		padding: 5px;
	}
	#header-left ul #search input {
		width: 100%;
		background: #303030;
		border: 1px solid #606060;
		font-family: 'Open Sans', sans-serif !important;
		color: #f0f0f0;
		height: 35px;
		padding: 0 5px;
	}
	#header-left ul hr {
		margin: 5px  0;
		border: 1px solid #555;
	}
	#header-left div:hover ul {
		display: block;
		position: absolute;
		top: 42px;
		right: 7px;
		background-color: #666666;
		box-shadow: 0px 1px 2px #000;
		z-index: 9999;
		width: 50%;
	}
	#header-left ul {
		display: none;
		margin: 0;
		padding: 0;
	}
	#header-left ul li {
		display: block;
		margin:0;
		font-size: 12px !important
	}	
	#header-right {
		display: none;
	}
	#scheduleModal  .modal-dialog {
		width: 100% !important;
		padding: 10px;
	}
	#scheduleModal  .modal-dialog .modal-content .modal-title {
		font-size: 20px !important;
	}
	#scheduleModal  .modal-dialog .modal-content .modal-body ul li a {
		padding: 2px;
	}
	#scheduleModal  .modal-dialog .modal-content .modal-body ul li a p.sched-day {
		font-size: 10px;
	}
	#scheduleModal  .modal-dialog .modal-content .modal-body ul li a p.sched-date {
		font-size: 8px;
	}
	#scheduleModal .modal-dialog .modal-content .modal-body div.schedule-thumbnails {
		padding: 0 0 10px 0;
	}
	#content {
		padding: 0;
	}
	#top-carousel {
		width: 100%;
	}
	.wattpad .carousel-dotted {
		padding: 10px;
		height: auto;
	}
	.wattpad .carousel-dotted a {
		width: 25px;
		height: 25px;
		margin: 0 10px;
	}
	#wattpad-inner .wattpad-cast-con .wattpad-cast .cast-img {
		height: auto;
		overflow: hidden;
	}
	#footer-top {
		padding: 10px 10px 25px 10px ;
	}
	#footer-top ul {
		display: none;
	}
	#footer-top ul li {
		display: block;
		padding: 0px 10px;
		margin: 5px 10px;
	}
	#footer-top #mobile-footer {
		width: 100% !important;
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	#footer-top #mobile-footer a {
		display: block;
		color: #fff;
		padding: 2px	;
	}
	#footer-top #mobile-footer a:hover {
		color: #ccc;
	}
	#footer-top #footer-imgs {
		position: absolute;
		top: 110px;
		right: 23px;
	}
	#footer-top #footer-imgs img {
		margin-left: 3px;
	}
	#footer-bottom {
		padding: 0;
		text-align: center;
	}
}


#content-pane {
    width: 100%;
}

#artists-content-pane {
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    background-color: #2f93a3;
}

#artists {
	background-color: #333;
}
/**START BOXES*/
    #boxes {
        width: 100%;
    }
    
    .box {
        background: #000;
        font-size: 11px;
        line-height: 1.4em;
        float: left;
        color: #fff;
    }

    .list-box {
        width: 170px;
        height: 170px; 
        background-color: #bcbcbc;
        -moz-box-shadow:    inset 0 0 100px #555;
        -webkit-box-shadow: inset 0 0 100px #555;
        box-shadow:         inset 0 0 100px #555;
    }
    
    a:hover .list-box {
        color: #cc0000;
    }

    .list-box span {
        position: absolute;
        font-size: 2em;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
        left: 20px;
        bottom: 10px;
        line-height: 1.0em;
    }
    
    div.box-arrow {
        width: 14px;
        height: 13px;
        background: transparent url("../images/ui.png") no-repeat -235px -13px;
        margin: -17px 0 0 47px;
        position: absolute;
    }
    
    a.box-arrow {
        width: 14px;
        height: 13px;
        background: transparent url("../images/ui.png") no-repeat -235px -13px;
        margin: 1px 0 0 8px;
        position: absolute;
    }
    
    .blank-box {
        width: 170px;
        height: 170px;
    }
    
    .small-box {
        width: 170px;
        height: 170px;
        cursor: pointer;
    }
    
    .small-box img {
        width: 170px;
        height: 170px;
    }
    
    .small-box div.overlay {
        width: 170px;
        height: 170px;
        background-color: rgba(135,0,12, 0.5);
        position: absolute;
        z-index: 99;
        display: none;
    }
    
    .small-box div.overlay span{
        position: absolute;
        font-size: 1.5em;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
        left: 20px;
        bottom: 10px;
        line-height: 1.0em;
    }
    
    .big-box {
        width: 340px;
        height: 340px;
        cursor: pointer;
    }

    .big-box div.overlay {
        width: 340px;
        height: 340px;
        background-color: rgba(135,0,12, 0.5);
        position: absolute;
        z-index: 99;
        display: none;
    }
    
    .big-box div.overlay span {
        position: absolute;
        font-size: 2.5em;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
        left: 20px;
        bottom: 10px;
        line-height: 1.0em;
    }
    
    .big-box .overlay span p .box-arrow {
        margin: 8px 0 0 8px;
    }
/**END BOXES*/

.ad-leaderboard{
    margin-bottom: 20px;
}