

/*megamenu mashmenu*/
#top-nav .dropdown-menu {
	min-width: 200px;
	padding: 0;
	margin: 0;
	font-size: 10px;
	background-color: white;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.item-head h3, .item-head h3 a{
	font-size: 13px;
    margin: 0;
    /*color: #5f5f5f !important;*/
}

.video-item-mm {
    margin-bottom: 10px;
    margin-right: 5px !important;
    margin-left: 5px !important;
}

#top-nav .container .main-menu{
	position:relative;
}
#top-nav .dropdown-mega{
	position:static;
}
#top-nav .dropdown-mega:hover{
    background-color: #CC0000;
    color: #fff;
}
#top-nav .dropdown-menu.sub-menu-box{
	position: absolute;
	border: none;
	left: 23%;
	right: auto;
    /*left: 100px;
	right: 0px;*/
	padding: 0;
    margin-top: 1px;
    max-width: 760px;
    max-height: 220px;
    width: 760px;
    height: 220px;
}
.sub-menu-box.preview-mode .sub-channel{
	padding:0;
	width:25%;
	width:calc(25% + 1px);
	width:-webkit-calc(25% + 1px);
	width:-moz-calc(25% + 1px);
	width:-ms-calc(25% + 1px);
	margin-right:-1px;
	float:left;
}
.preview-mode .channel-content{
	float:right;
	width:75%;
	border-left: solid 1px #343434;
	padding:20px;
	display:none;
}
.preview-mode .channel-content.active{
	display:block;
}
.preview-mode .channel-title a{
	padding: 11px 20px;
	line-height: 1.428571429;
	white-space: nowrap;
	border-bottom: solid 1px #343434;
	border-right: solid 1px #343434;
	transition: all .1s ease;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
}
.preview-mode .channel-title a:hover{
	background:#343434;
}
.preview-mode .channel-content .row{
	margin-left:-10px;
	margin-right:-10px;
}
.preview-mode .channel-content .content-item.col-md-4{
	padding-left:10px;
	padding-right:10px;
}
@media(min-width:992px){
.channel-content .video-item{
	margin-bottom:0;
}
.channel-content .item-head{
	padding-bottom:0;
}
}
.channel-content .item-head h3 a {
	color: #8e8e8e;
}
.preview-mode .video-item h3 a:hover{
	color:#f9c73d;
}

.sub-menu-box{
	overflow:hidden;
}
.sub-menu-box .columns, .sub-menu-box .columns .list{
	margin:0;
	padding:0;
}
.sub-menu-box .columns>li{
	width:25%;
	float:left;
	border-right: solid 1px #343434;
	padding-bottom: 300px;
	margin-bottom: -300px;
}
.sub-menu-box .columns>li:nth-child(4n) {
	border-right: none;
}
.sub-menu-box .columns .list li a,
.sub-menu-box .columns .list li.header{
	padding: 10px 20px;
	line-height: 1.428571429;
	white-space: nowrap;
	border-bottom: solid 1px #343434;
	transition: all .1s ease;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
}
.sub-menu-box .columns .list li:last-child{
	margin-bottom:-1px;
}
.sub-menu-box .columns .list li.header{
	font-size:15px;
	padding: 15px 20px;
}
.sub-menu-box .columns .list li a:hover{
	background:#343434;
}





