.mozilla
college/2015su/spur
dev/nnet
.git-old
.cabal
media/music
octave
Downloads
Dropbox
.ssh/
.thumbnails/
.rvm
.zlogin
minfo.tmp
.viminfz.tmp
.zshrc
.pki
.octave_packages
.octave_hist
.mkshrc
.macromedia
.xsession-errors
.local/share/Trash
.local/share/akonadi
.local/share/contacts
.local/share/recently-used.xbel
.julia
.xsession-errors
.local/share/Trash
.local/share/akonadi
.local/share/contacts
.local/share/recently-used.xbel
.julia
.Xauthority
.jssc
.apps
.dropbox-dist
.arduino15
.cups
.gem
.java
.gnupg
.anaconda2
.arduino
.aspell*
.cache/
.cargo/
.config/
.dbus/
.dmrc/
.dropbox/
.fltk/
.gconf/
.gksu.lock
.hplip/
.irssi/
