[Desktop Entry]
Icon=video-mp4
Name=arm.mp4
Type=Link
URL[$e]=file://$HOME/college/variations/hamiltonian/arm-movie/arm.mp4
X-KDE-LastOpenedWith=dragonplayer
