[Desktop Entry]
Icon=image-png
Name=population-distributions.png
Type=Link
URL[$e]=file://$HOME/current-courses/modeling/hw/8/population-distributions.png
X-KDE-LastOpenedWith=gwenview
