[Desktop Entry]
Icon=image-png
Name=stephen-good.png
Type=Link
URL[$e]=file://$HOME/media/screenshots/stephen-good.png
X-KDE-LastOpenedWith=ksnapshot
