[Desktop Entry]
Icon=image-png
Name=working-age.png
Type=Link
URL[$e]=file://$HOME/current-courses/modeling/hw/8/working-age.png
X-KDE-LastOpenedWith=gwenview
